.inDesktop-hidden{
    display: none !important;
}

.inMobile-hidden{
    display: block;
}




@media (max-width: 900px) { 

    .inDesktop-hidden{
        display: block !important;
    }


    .inMobile-hidden{
        display: none;
    }

}


@media (max-width: 576px) { 

    .inDesktop-hidden{
        display: block !important;
    }


    .inMobile-hidden{
        display: none;
    }

}