$primaryColor: #397367;
$secondaryColor: #3DE7BC;
$textColor: #333333;
$whiteColor: #FFFFFF;
$yellowColor: #FFC728;

$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$weight:('thin': 100, 'light': 300, 'regular': 400, 'bold': 600, 'extraBold': 800);
$sizes:('xsm': 10px, 'sm': 16px, 'md': 20px, 'lg': 30px, 'xlg': 45px)


